<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <a href="https://github.com/{{ site.github_username }}"><i style="display:floating;float:right" class="fa fa-github"> </i></a>
            <img src="/assets/img/banner.jpg" style="display:block;margin-left: auto;margin-right: auto"/>
            {{ content }}
        </div>
    </main>
    </body>
</html>